body{
    background-color: #ebe2db;
    font-family: Arial, sans-serif;
    text-shadow: 3px 3px 6px rgba(0,0,0,0.3);

}



header{
    padding: 20px;
    border-radius: 5px;
}


nav{
    padding-right: 10px;
    margin-right: 10px;
    float: right;
    margin-top: 20px;
    

}

nav a{
    text-decoration: none;
    padding: 10px;
    color: black;
    
}

nav a:hover , a:focus{
    color: white;
    border: 10px 10px 10px 10px ;
    background-color:  blueviolet;
    border-radius: 10px;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.3);
}

section{
    font-size: 40px;
    margin-left: 15px ;
}



span{
    color: tomato;
    
}

.submit input{
    width: 50vw;              
    min-width: 250px;         
    max-width: 300px;
    padding: 12px 24px ;
    border-radius: 10px ;
    background-color: blueviolet;
    color: white;
    cursor: pointer;
    margin-left: 50px;
    margin-bottom: 100;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.3);
    
}

.submit input:hover ,input :focus {
    background-color: white;
    color: blueviolet;
    border: 2px solid blueviolet;
}





aside img{
    width: 400px;
    height: 400px;
    border: 1px solid brown;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 450px;
    margin-top: 50px;
}



footer img{
    height: 50px;
    width: auto;
    padding: 10px;
   margin-top: 50px;
   
}

footer a{
    text-decoration: none;
}